body {
  background-color: #000000;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
 
  /* Use flexbox to align sidebar and content */
}


.content {
  flex: 1;
  margin-left: 280px;
 
  
  padding: 20px;
  color: white;
}